# The name should be a single word because the name is shown by the build
# status badge we display in the README.
name: build

on: [push, pull_request]

jobs:
  build:
    name: Build, test and dummy-install

    # Build matrix notes:
    # - Objective-C is mainly an Apple thing, so at the moment we are focusing
    #   on macOS builds.
    # - The project attempts to remain platform independent, so in the future
    #   it should hopefully be possible to also build on at least Ubuntu/Linux.
    # - We use the *-latest runners because we strive to build with relatively
    #   new versions of each environment that have modern compilers (see CMakeLists.txt
    #   in the libsgfc++ project for the minimum version of the C++ standard that we
    #   need) and tools.    
    runs-on: ${{ matrix.os }}
    strategy:
      matrix:
        os: [macos-latest]

    # Use the same shell on all runners so can we use the same scripts. Without this,
    # the Windows runner would use PowerShell.
    defaults:
      run:
        shell: bash

    steps:
    - name: Checking out the sources
      # @v4 refers to the Git tag "v4" in https://github.com/actions/checkout.
      # The repo maintainers update the "v4" tag to always point to the latest
      # v4 release of the checkout action.
      uses: actions/checkout@v4
      with:
        submodules: recursive

    - name: Building libsgfc++
      run: |
        cd libsgfcplusplus
        ./script/build.sh
        cd build
        cmake --install . --prefix install
        cd ../..

    - name: Generate build system
      run: |
        mkdir build
        cd build
        # Specify the configuration for single-configuration build systems.
        # We don't want to rely on Xcode for the build, to make at least a
        # token effort to remain platform independent.
        cmake -DCMAKE_BUILD_TYPE=Release ..

    - name: Build the project
      run: |
        cd build
        cmake --build .

    - name: Install the build
      run: |
        cd build
        # Perform a dummy deploy to test the CMake install routine.
        cmake --install . --prefix install
